<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Questions</title>
    <link rel="stylesheet" href="../public/css/admin.css">
</head>
<body>
    <div class="questBox">
        <div class="row">
            <div class="questPart">
                <a href="#">
                    <span>Привет, бб</span>
                </a>
            </div>
            <div class="delete">
                <a href="#">
                    <span>X</span>
                </a>
            </div>
            <br>
        </div>    
    </div>
    <div class="settingsBox">
        <input type="radio" name="t" id="" value="1">
        <input type="radio" name="t" id="" value="2">
        <input type="radio" name="t" id="" value="3">
    </div>
</body>
</html>