<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Questions</title>
    <link rel="stylesheet" href="../public/css/admin.css">
</head>
<body>
    <div id="disableWindow" class="disable" data-disabled>
        <div id="questEdit">
            <div class="e1">
                <span>Вопрос:</span><br>
                <textarea name="" id="questionEdit"></textarea>
                <br>
            </div>
            <div class="e2">
                <span>Варианты ответа(через ';'):</span><br>
                <textarea name="" id="casesEdit" placeholder="Если это поле не заполнено - тип вопрос будет открытым, иначе - с вариантами ответа"></textarea>
                <br>
            </div>
            <div class="e3">
                <span>Ответ:</span><br>
                <textarea name="" id="answerEdit"></textarea>
            </div>
            <div class="btnSpot">
                <div id="close">Закрыть</div>
                <div id="ok">Изменить</div>
            </div>
        </div>
    </div>

    <div class="questBoxHeader">
        <span id='header'>Список вопросов</span>
    </div>
    <div class="questBox">  
    </div>
    <div class="settingsBox">
        <select name="" id="themes">
            <option disabled selected value="">Темы не выбраны </option>
        </select>
        <br>
        <input type="radio" name="type" id="radio1" value="openQuest"> 
        <label for="radio1">Открытый вопрос</label><br>
        <input type="radio" name="type" id="radio2" value="casesQuest">
        <label for="radio2">Вопрос с вариантом ответа</label><br>
        <input checked type="radio" name="type" id="radio3" value="all">                
        <label for="radio3">Все вопросы</label><br>

        <div class="btn btn-1">Обновить темы</div>
        <div class="btn btn-2">Проверить файлы</div>
    </div>
    <script src="../public/js/admin.js"></script>
</body>
</html>