<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Authorisation</title>
    <link rel="stylesheet" href="../public/css/main.css">
    <link rel="stylesheet" href="../public/css/auth.css">
</head>
<body>
    <div class="header">
        <span>Авторизация</span>
    </div>
    <div id='center'>       
        <input type="text" id='login' placeholder="Введите login" name="login" required>    
        <input type="password" id='password' placeholder="Введите пароль" name="password" required>            
        <button type="button" class="loginBtn">Войти</button>      
        <button type="button" class="registerBtn">Зарегистрироваться</button>                          
    </div>
    <script src="../public/js/auth.js"></script>
</body>
</html>