<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Page Title</title>
    <link rel="stylesheet" href="../public/css/test.css">
</head>
<body>

    <div id="map">
        <ul>
            <li>1
            <li failed>2
            <li right>3
        </ul>
    </div>
    <div id="card">
        <div id="start"><span>Start</span></div>
        <div id='question' data-disabled><code>asdasdasdasd ggjdshdfj func</code></div>
        <div id="answer" data-disabled>
            <div id='checkboxExample' data-disabled>
                <label>                    
                    <input type="checkbox">
                    <span></span>
                </label>                
            </div>
            <div id="openExample" data-disabled>
                <label>
                    <span>Ответ:</span>
                    <textarea id='txtarea'></textarea>
                    
                </label>
            </div>
        </div>
        <div id='bottom' data-disabled>
            <div class="Skip" title="Пропуск эквивалентен неправильному ответу"> <span>Skip</span> </div><!--
            --><div class="Accept" title="Принять ответ и перейти к следующему вопросу"> <span>Accept</span></div>
        </div>
    </div>
    <script src="../public/js/test.js"></script>
</body>
</html>