.questBox {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.questBox::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.btn {
  position: absolute;
  text-decoration: none;
  color: black;
  margin: auto;
  min-width: 50%;
  margin-left: 25%;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid black;
  text-align: center;
  border-radius: 5px;
  -webkit-transition: .15s;
  transition: .15s;
}

.btn:hover {
  background: -webkit-gradient(linear, left top, right bottom, from(#0fbaf97c), to(#4bcefa88));
  background: linear-gradient(to bottom right, #0fbaf97c, #4bcefa88);
  font-size: 20px;
  color: gray;
  border: 2px dotted black;
}

@font-face {
  font-family: 'MyFont';
  src: url("../fonts/Merriweather-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
}

.settingsBox {
  padding-left: 5vw;
  position: absolute;
  margin-top: 15vh;
  margin-left: 70vw;
  min-width: 20vw;
  max-width: 20vw;
  min-height: 70vh;
  max-height: 70vh;
  border: 1px solid black;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: hidden;
}

.questBox {
  position: absolute;
  margin-top: 15vh;
  min-width: 60vw;
  max-width: 60vw;
  min-height: 70vh;
  max-height: 70vh;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 5vw;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  overflow-y: scroll;
}

.row {
  position: relative;
  padding-top: 0px;
  padding-bottom: 10px;
  font-family: 'MyFont';
  font-weight: normal;
  font-style: normal;
  font-size: 17px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  min-height: 20px;
  text-align: center;
}

@media (max-width: 575px) {
  .row {
    font-size: 10px;
  }
}

.questPart {
  background: #a4b0be70;
  position: relative;
  display: inline-block;
  min-width: 75%;
  max-width: 75%;
  border: 1px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 1%;
  border-radius: 10px;
  -webkit-transition: .2s;
  transition: .2s;
}

.questPart:hover {
  background: #a4b0be;
}

.delete {
  background: #ff475659;
  position: relative;
  display: inline-block;
  border: 1px solid black;
  margin-left: 1%;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 10%;
  max-width: 10%;
  border-radius: 10px;
  -webkit-transition: .2s;
  transition: .2s;
}

.delete:hover {
  background: #ff4757;
}

.questID {
  position: relative;
  display: inline-block;
  border: 1px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 10%;
  max-width: 10%;
  border-radius: 10px;
  background: #a4b0be;
}

input[type='radio'] {
  height: 15px;
  width: 15px;
  margin-bottom: 15px;
}

.btn {
  position: relative;
  cursor: pointer;
  border: 1px solid black;
  margin-left: 0%;
  min-width: 75%;
  max-width: 75%;
  margin-bottom: 15px;
}

#themes {
  min-width: 75%;
  max-width: 75%;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 15px;
  text-align: center;
}

.questBoxHeader {
  font-family: 'MyFont';
  font-weight: normal;
  font-style: normal;
  position: absolute;
  text-align: center;
  margin-left: 2vw;
  margin-top: 10vh;
}

option:disabled {
  display: none;
}

#disableWindow.disable {
  background: rgba(95, 95, 95, 0.555);
  width: 100vw;
  height: 100vh;
  z-index: 5;
}

#questEdit {
  position: absolute;
  border: 3px solid black;
  border-radius: 25px 0;
  background: white;
  width: 60%;
  height: 60%;
  margin-left: 20%;
  margin-top: 10vh;
  z-index: 10;
  padding-left: 10%;
  padding-top: 2%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#questEdit textarea {
  position: absolute;
  border: 1px solid black;
  background: rgba(137, 164, 196, 0.336);
  height: 20%;
  width: 60%;
  max-width: 60%;
  max-height: 20%;
}

#questEdit .p {
  margin-top: 12%;
}

#questEdit .btnSpot {
  margin-top: 10%;
}

#questEdit .btnSpot div {
  position: absolute;
  margin-top: 10vh;
  display: inline-block;
  max-width: 70px;
  border: 1px solid black;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

#questEdit .btnSpot div#close {
  margin-left: -10%;
}

#questEdit .btnSpot div#close:hover {
  background: #ff363c;
}

#questEdit .btnSpot div#ok {
  margin-left: 70%;
}

#questEdit .btnSpot div#ok:hover {
  background: #28c45c;
}

[data-disabled] {
  display: none;
}
/*# sourceMappingURL=admin.css.map */